/*---------- SVG styles ----------------

Dimensions:
column = 10%
gutter = 3%
margin = 6% (2 * gutter)

Colors:
main color = rgb(80, 55, 150) (purple)
aux color  = rgb(115, 205, 225) (cyan)

--------------------------------------*/

* {
	font-family: 'Lato', sans-serif !important;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

#logo{
	position: absolute;
	left: 0;
	top: -20px;
	width: 100%;
	text-align: center;
	z-index: 1000;
}

#logo img{
	max-width: 17%;
}

div.container{
	position: absolute;
}

svg{
	width: 100%;
	height: 100%;
}

#topChart-container{
	top: 6%;
	left: 6%;
	width: 88%;
	height: 10%;
}

#mainChart-container{
	top: 19%;
	left: 6%;
	width: 75%;
	height: 50%;
}

#top5-container{
	top: 19%;
	left: 84%;
	width: 10%;
	height: 27%;
}

#topByCategory-container{
	top: 49%;
	left: 84%;
	width: 10%;
	height: 45%;
}

#socialEngagement-container{
	top: 71%;
	left: 6%;
	width: 75%;
	height: 23%;
}

text{
/*	font-family: Arial, Helvetica, sans-serif; */
	fill: rgb(80, 55, 150);
}

text.heading2{
	font-size: 1.3em;
	font-weight: bold;
}

text.heading3{
	font-size: 0.8em;
	font-weight: bold;
}

text.heading4{
	font-size: 0.6em;
}

text.heading5{
	font-size: 0.45em;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgb(80, 55, 150);
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis text{
  font-size: 0.6em;
}

.x.axis text {
  font-size: 0.6em;
}

.line {
  fill: none;
}

/*Installation*/
/*@media screen and (max-width: 800px){
	html{
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  border: 0;
	  padding: 0;
	}

	body{
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  border: 0;
	  padding: 0 20px;
	}

	div.container{
		position: static;
		margin: 0;
	  	border: 0;
	  	padding: 10px 0;
		display: inline-block;
	}

	#topChart-container{
		width: 100%;
		height: 10%;
	}

	#mainChart-container{
		width: 100%;
	}

	#top5-container{
		width: 30%;
	}

	#topByCategory-container{
		width: 60%;
	}

	#socialEngagement-container{
		width: 100%;
	}	
}*/

/*Mobile*/
@media screen and (max-width: 700px){

	html{
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  border: 0;
	  padding: 0;
	}

	body{
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  border: 0;
	  padding: 0 20px;
	}

	#logo{
		position: static;
		width: 100%;
		text-align: center;
	}

	#logo img{
		max-width: none;
	}

	div.container{
		position: static;
		margin: 0;
	  	border: 0;
	  	padding: 10px 0;
		display: block;
	}

	#topChart-container{
		width: 100%;
		height: 10%;
	}

	#mainChart-container{
		width: 100%;
		height: 75%;
	}

	#top5-container{
		width: 100%;
		height: 40%;
	}

	#topByCategory-container{
		width: 100%;
		height: 70%;
	}

	#socialEngagement-container{
		width: 100%;
		height: 125%;
	}

	text.heading2{
		font-size: 4em;
		font-weight: bold;
	}

	text.heading3{
		font-size: 2.4em;
		font-weight: bold;
	}

	text.heading4{
		font-size: 1.8em;
	}

	text.heading5{
		font-size: 1.2em;
	}

	.y.axis text{
	  font-size: 1.4em;
	}

	.x.axis text {
	  font-size: 1.4em;
	}
}