<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta -->
  <meta content="Digital Content Next" property="og:title">
  <meta content="Digital Content Next" name="description">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../css/skeleton.min.css" />

  <link rel="stylesheet" href="../css/custom_font.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <script src="../js/vendor/modernizr.min.js"></script>
  <script src="../js/vendor/moment.min.js"></script>
  <!-- Socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<header>
    <div class="sixteen columns nav">
        <li><a href="/">HOME</a></li>
        <li><a href="#p-what-is">WHAT</a></li>
        <li><a href="#p-how-it-works">HOW</a></li>
        <li><a href="/market">MARKET</a></li>
        <li><a href="#p-about">ABOUT</a></li>
    </div>
</header>