<% include ../includes/header %>

<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h1>Pay Attention</h1>
			<h4>What is Pay Attention</h4>
			<p>Lorem ipsum Dolore sit voluptate mollit pariatur Duis consectetur est tempor deserunt officia commodo officia sed consequat Duis Ut laborum esse magna eiusmod mollit aliqua. esse sed eu labore labore cillum sed exercitation laborum commodo sed incididunt ut eu esse quis nisi quis nulla voluptate dolor nostrud Excepteur Duis incididunt dolore quis culpa sit.</p>
			<h4>How to participate</h4>
			<p>Lorem ipsum Ut do sunt pariatur dolor laborum ex aute sed sit officia minim in consequat tempor ut eiusmod fugiat et esse esse in cupidatat irure minim exercitation in reprehenderit Ut sunt nulla occaecat adipisicing eu cillum.</p>
		</div>
	</div>
</div>

<% include ../includes/footer %>
<% include ../includes/default_scripts %>

<!-- Other scripts start here (if any) -->

<!--
<script src="somescript.js"></script>
-->

<% include ../includes/end %>