<% include ../includes/header %>

<section id="p-intro">
	<div class="container">
		<div class="row">
			
			<div class="eight columns">
				<p class="intro-title">PAY ATTENTION</p>
				<p class="intro-tagline">
					A Marketplace of Time and Interest
				</p>
				<!-- <p class="intro-brag">
					Brought to you by Digital Content Next and graduate students from the MFA Design and Technology Program at Parsons The New School for Design.
				</p> -->
			</div>
			<div class="eight columns center">
				<img src="/img/teaser.png" width="80%" height="80%">
			</div>
		</div>
		<div class="row" style="text-align: center">
			<h6>&#9660; Scroll down for more info &#9660;</h6>
		</div>
	</div>
</section>

<section id="p-what-is">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<p class="how-to-title">
					WHAT IS PAY ATTENTION
				</p>
			</div>
		</div>
		<div class="row">
			<div class="sixteen columns">
				<p class="left">
					Pay Attention is a platform which algorithmically values DCN Members’ content by quantifying the attention garnered from attendees in person at the Summit, via #DCNlive, as well as real-time social media analytics. By deducing the value of attendees’ time using average salary data, Pay Attention appraises the monetary value of displayed content every second by discerning the number of people watching a given piece of media and the duration of consistent eye gaze.  As visitors participate in the installation by looking at the content presented on-screen, they add value to the DCN brands within the Pay Attention marketplace - one in which the currency is time and interest. Participants are quite literally paying attention to visual content. 
<br><br>
The Pay Attention marketplace also tracks social media analytics (shares, likes, re-tweets) of each content piece. Using known algorithms, we will aggregate the cost-per-share on each social network and including as part of our “attention economy” market.
				</p>
			</div>
		</div>
	</div>
</section>

<section id="p-how-it-works">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<p class="how-to-title">
					How it works and how to participate ?
				</p>
			</div>

		</div>
		<div class="row">
			<div class="four columns center">
				<img src="/img/step-1.png" width="100">
				<p class="left">Step into the Pay Attention arena and allow DCN Members’ content to compete for your attention. Our system is watching how many eyeballs are looking at any given piece of content – and for how long. Each second of your attention adds marketplace value to that content.</p>
			</div>
			<div class="four columns center">
				<img src="/img/step-2.png" width="100">
				<p class="left">Suggest content for inclusion in the Pay Attention market by tweeting a link to a DCN Member brand’s article with #DCNlive. The content will make its way into the Market. Remember, the more content a brand has in the market, the more value it will gain. Watch at: http://attention.market</p>
			</div>
			<div class="four columns center">
				<img src="/img/step-3.png" width="100">
				<p class="left">The Pay Attention platform tracks the social media engagement of each piece of content across Twitter, Facebook, LinkedIn, Pinterest and Google+ and calculates the cost-per-share on each platform.</p>
			</div>
			<div class="four columns center">
				<img src="/img/step-4.png" width="100">
				<p class="left">Our market chart visualization displays real-time valuations by DCN Media brand and by category, summing up the social media engagement and the attendee interaction time in the Pay Attention arena. Monetary values are based on an assumed average salary of DCN Summit attendees.</p>
			</div>
		</div>
	</div>
</section>

<section id="p-about">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<p class="how-to-title">
					ABOUT
				</p>
			</div>
		</div>
		<div class="row">
			<div class="sixteen columns">
				<p>
					Pay Attention is brought to you by Digital Content Next and graduate students and faculty from the MFA Design and Technology Program at Parsons The New School for Design.
				</p>
				<h6>Sponsored by:</h6>
				<img src="/img/sponsor.png">
			</div>
		</div>
	</div>
</section>

<% include ../includes/footer %>
<% include ../includes/default_scripts %>

<!-- Other scripts start here (if any) -->


<script src="js/site.js"></script>


<% include ../includes/end %>